// src/components/common/badge/Badge.scss
@import '../../../globals.scss';

.badge {
    padding: 0px 12px;
    align-items: center;
    justify-content: center;

    @extend .suit-14-m;
    color: $oatmeal;
    white-space: nowrap;
}

.badge-best {
    background-color: $point-pink;
}

.badge-new {
    background-color: $point-green;
}

.badge-exclusive {
    background-color: $brown-500;
}