@import "../../../globals.scss";

.bestboxSm {
    width: 100%;
    aspect-ratio: 486 / 554;
    background-color: $bg-product;
    display: flex;
    flex-direction: column;
    position: relative;

    .badges {
        display: flex;
        gap: 8px;
        padding: clamp(10px, 1.5vw, 20px) clamp(16px, 2vw, 30px);
        align-items: center;
    }

    .imgs {
        width: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0 clamp(12px, 2vw, 24px);

        img {
            width: 350px;
            height: 350px;
            object-fit: contain;
        }
    }

    p {
        @extend .suit-18-m;
        color: $brown-700;
        display: flex;
        width: 202px;
        height: 27px;
        padding: 30px 40px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-sizing: border-box;
    }
}
