@use "../../../globals.scss" as *;

.benefits-page-header {
    background-color: $oatmeal;

    &__inner {
        width: min(100%, 1580px);
        margin: 0 auto;
        padding: 60px 32px 0;
    }

    &__title {
        color: $brown-800;
        margin-bottom: 16px;
    }

    &__desc {
        color: $brown-500;
        margin-bottom: 48px;
    }

    &__nav {
        display: flex;
        gap: 32px;
        border-bottom: 1px solid $brown-100;
        margin-bottom: 48px;

        a {
            color: $brown-400;
            text-decoration: none;
            padding: 12px 0;
            border-bottom: 2px solid transparent;
            margin-bottom: -1px;
            transition: all 0.2s;

            &.active,
            &:hover {
                color: $brown-800;
                border-bottom-color: $brown-700;
            }
        }
    }
}

@media (max-width: 767px) {
    .benefits-page-header {
        &__inner {
            padding-inline: 16px;
        }
    }
}
